*{
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
    display: block;
}

li{
    list-style: none;
}

img{
    vertical-align: top;
    border: none;
}

body{
    font-family: 'Rix모던고딕 L';
}

#video {
     position: fixed;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 100%;
     width: auto;
     height: auto;
     z-index: -3;
     overflow: hidden;
}

header{
    width: 300px;
    height: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: -300px;
    transition: all 0.3s ease-in-out;
    background: rgba(131,131,131,0.5);
    text-align: center;
}

header .logo{
    width: 280px;
    padding: 30px 10px;
}

header .logo img{
    width: 280px;
}

header.open{
    left: 0;
    background-position: left;
}

header .menubtn{
    position:absolute;
    top:50px;
    right:-50px;
    width:40px;
    height:31px;
    transition:all .3s ease-in-out;
    text-indent: -999px;
    background: url(../images/menuarrow.png);
    background-position: right;
}
header .close{
    background: url(../images/menuarrow.png);
    background-position: left;
    background-repeat: no-repeat;
}

#menu{
    width: 300px;
}

.menu{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.menu li{
    width: 280px;
    display: block;
}

.menu>li>a{
    display: block;
    width: 280px;
    padding: 10px 0;
    color: #ffcd6d;
    font-weight: bold;
    font-size: 20px;
}

.menu>li>a:hover{
    background: rgba(145,145,145,0.5);
}

.sub-menu{
    width: 280px;
    background: rgba(153,153,153,0.5);
    display: none;
}

.sub-menu>li>a{
    display: block;
    width: 280px;
    padding: 10px 0;
    color: gold
}

.sub-menu li a:hover{
    color: #fff;
}

header hr{
    width: 200px;
    margin: 0 auto;
}

header .sns{
    width: 160px;
    height: 32px;
    margin: 20px auto;
}

.sns li a{
    float: left;
    width: 32px;
    height: 32px;
    text-indent: -999px;
    opacity: 0.7;
}

.sns li a:hover{
    opacity: 1;
}

.fb{
    background: url(../images/ico_fb.png);
    margin-right: 32px;
}

.tw{
    background: url(../images/ico_tw.png);
    margin-right: 32px;
}

.in{
    background: url(../images/ico_in.png);
}

section{
    width: 100%;
    min-height: 1080px;
}

.main{
    width: 100%;
    height: 1080px;
}

.main-logo{
    width: 600px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-play{
    width: 90px;
    height: 90px;
    position: absolute;
    display: block;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    background: url(../images/play.png);
}

.main-play a:hover{
    opacity: 1;
}

.prevlink{
    width: 325px;
    height: 70px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.7;
    background: url(../images/prevqlink.png);
    border-radius: 10px;
}

.prevlink:hover{
    opacity: 1;
}

.prev{
    background: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 1080px;
    padding-left: 350px;
    border-bottom: 1px solid #111;
}

.prev h2{
    width: 800px;
    height: 105px;
    padding: 150px 0 0 0;
    line-height: 105px;
    font-size: 50px;
    color: #fff;
    font-family: 'Headline R'
}

.prev h2 span{
    color: #ffb000;
}

.box{
    height: 40px;
}

.info01{
    background: url(../images/bg.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
    position: absolute;
    left: 0;
    
}

section{min-height: 980px;}

#img2{
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#img3{background: url(../images/bg.jpg);}

#img4{background-color: #000;
    border-top: 1px solid #fff;
    box-sizing: border-box;
}

#img5{background-color: #fff;}   

section h2{
    text-align: left;
    color: #fff;
    margin: 40px;
    font-size: 35px;
}

.contents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contents>img{
    margin-left: 80px;
}

#img2{
	position: relative;
}

#wrapper{
	width:1400px;
	margin: 0 auto;
	padding-top:50px;
}

#img2 h2{
    color: #000;
    font-family: 'Rix모던고딕 EB'
}

.screen{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 100px;
    width: 1200px;
}

.screen .movie{
    width: 6000px;
    overflow: hidden;
    position: relative;
}

.screen .movie li{
    float: left;
    width: 1200px;
}

.screen .movie li img{
    width: 100%;
}

.screen .control{
	height: 80px;
	z-index: 999;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translatey(-50%);
}

.screen .control a{
    display: inline-block;
	width: 30px;
	height: 80px;
	background-image: url(../images/arrow.png);
	text-indent: -999999px;
	margin: 0 20px;
}

.screen .control a.nt{
	background-position: right top;
	float: right;
}

.screen .control a:hover{
	background-position-y: bottom; 
}


.bar{
	position: relative;
	left: 0;
    top: -10px;
	width: 400px;
	height: 10px;
	background-color: #999;
}
.screen-list{
	margin: 0 auto;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translatex(-50%);
}
.screen-list li{
	border-radius: 50%;
	float: left;
	margin: 20px;
	width:10px;
	height: 10px;
	background-color: #fff;
	cursor: pointer;
}
.screen-list li.active{
	background-color: yellow;
}

#img3>#wrapper{
    position: relative;
    overflow: hidden;
    height: 1140px;
}

#img3 h2{
    text-align: right;
}
.cover_bg {
    position: absolute;
    right: 55px;
    top: 150px;
}

.album_cover {
    background-color: lightpink;
    width: 800px;
    position: absolute;
    left: 0px;
    top: -400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
}

.cover_img {
    width: 800px;
    height: 300px;
}

.album_cover p {
    height: 70px;
    width: 430px;
    line-height: 70px;
    color: #000;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    border-bottom: 4px outset #000;
}

.album{
	float: right;
	width:560px;
    margin-top: 100px;
    margin-right: -50px;
	
}
.album li{
	width:120px;
	height: 120px;
	background-color: #fff;
	border-radius: 100%;
	float: left;
	overflow: hidden;
	margin: 25px;
	line-height: 90px;
	text-align: center;
	font-family: 'impact';
	font-size: 24px;
     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3),0 2px 10px 0 rgba(0,0,0,0.3);
	background-size: cover;
	cursor: pointer;
}
.album li img{
	visibility: hidden;
}
.album li.month1{
	background-image: url(../images/janicon.jpg);
}
.album li.month2{
	background-image: url(../images/febicon.jpg);
}

.album li.month3{
	background-image: url(../images/maricon.jpg);
}
.album li.month4{
	background-image: url(../images/aprilicon.jpg);
}
.album li.month5{
	background-image: url(../images/mayicon.jpg);
}
.album li.month6{
	background-image: url(../images/juneicon.jpg);
}
.album li.month7{
	background-image: url(../images/julyicon.jpg);
}
.album li.month8{
	background-image: url(../images/augicon.jpg);
}
.album li.month9{
	background-image: url(../images/sepicon.jpg);
}
.album li.month10{
	background-image: url(../images/octicon.jpg);
}
.album li.month11{
	background-image: url(../images/novicon.jpg);
}
.album li.month12{
	background-image: url(../images/decicon.jpg);
}

.month{
	position: relative;
}
.overlay {
  	position: absolute;
 	bottom: 100%;
  	left: 0;
  	right: 0;
 	background-color: #111;
  	overflow: hidden;
  	width: 100%;
  	height:120px;
  	transition: 0.2s ease;
	box-sizing: border-box;
	color: #fff;
    line-height: 120px;
    font-size: 20px;
	opacity: 0.9;
}

.month:hover .overlay {
  bottom: 0;
  height: 100%;
}
.month:hover .overlay {
  bottom: 0;
  height: 100%;
}

.goods-list{
    margin-top: 200px;
}

.goods-list li{
    float: left;
    width:300px;
    height: 350px;
    background-color: aqua;
    margin: 10px;
    
}
.goods-list li a{
    position: relative;
    display: block;
    width:100%;
    height: 100%;
}

.goods-list li a:before{
    content: "";
    display: block;
    width:100%;
    height: 100%;
    background-color: #222;
    z-index: 999;
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
}
.goods-list li a:hover:before{
    opacity: 0.8;
}
.goods-list li a .info{
    position: absolute;
    top: 0;
    left: 23px;
    z-index: 9999;
    opacity: 0;
    transition: all 0.5s;
    color: #fff;
}
.goods-list li a:hover .info{
    transform: translateY(23px);
    opacity: 1;
}
.info h3{
    margin-bottom: 8px;
    font-size: 23px;
    color: #fff;
    font-weight: normal;
}
#img5 h2{
    color: #000;
}
iframe{
    margin-top: 70px;
}

footer{
    width: 100%;
    height: 40px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    position: fixed;
    bottom: 0;
    text-align: center;
    line-height: 2;
}